.global-sider-logo {
	height: 64px;
	background: #022141;
	text-align: center;
  line-height: 64px;
}

.global-sider-logo .logo-big {
  font-size: 34px;
  color: white;
  cursor: pointer;
}

.global-sider-logo .logo-small {
	font-size: 18px;
  color: #1890ff;
  cursor: pointer;
}

a:link {
  text-decoration:none;
}